@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #000;
  color: #fff;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.btn {
  position: relative;
  padding: 1.5rem 3rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.4s ease;
  min-width: 200px;
  z-index: 1;
}

.neon-pulse {
  background: #000;
  border: 1px solid rgb(55, 255, 0);
  box-shadow: 0 0 10px rgba(0, 255, 13, 0.3);
  overflow: visible;
}

.neon-pulse::before,
.neon-pulse::after {
  content: "";
  position: absolute;
  inset: -2px;
  border: 1px solid rgb(0, 255, 0);
  border-radius: inherit;
  animation: pulseOut 2s ease-out infinite;
  opacity: 0;
}

.neon-pulse::after {
  animation-delay: 1s;
}

@keyframes pulseOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}
